body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/light-grey-terrazzo.png");
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.column {
  margin-bottom: 40px;
  width: 100%;
  background: #ffffff;
  border: 2px solid #dddddd;
}

@media only screen and (min-width: 768px) {
  .column {
    width: 680px;
    padding: 15px;
  }
}

@media only screen and (min-width: 960px) {
  .column {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
  }
}
