.imageBox {
  width: 300px;
  margin: 10px;
  box-shadow: 0 2px 6px -2px #666;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.imageBox a {
  position: relative;
}

.imageBox .project-image {
  opacity: 0.8;
  transition: ease-out 0.2s opacity;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.imageBox .project-image:before {
  content: "";
  background: red;
  width: 20px;
  width: 20px;
}

.imageBox:hover img {
  opacity: 1;
  transition: ease-in 0.2s opacity;
}

.hidden-info {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100px;
  height: 25px;
  margin-left: -50px;
  margin-top: -12px;
  text-align: center;
  opacity: 0;
  transition: ease-out 0.2s opacity;
  transition: ease-out 0.2s top;
}

.hidden-info img {
  width: 25px;
  height: 25px;
}

.imageBox:hover .hidden-info {
  opacity: 1;
  top: 50%;
  transition: ease-in 0.2s opacity;
  transition: ease-out 0.2s top;
}

.project-image {
  display: block;
}

.overlay {
  background-color: #0f4c64;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.overlay a {
  color: white;
}

.gh {
  position: relative;
  display: inline-block;
}

.gh:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -22px;
  background-image: url("/gh-ico.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}
